.persons__title {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.089;
  text-align: center;
}

@media (max-width: 768px) {
  .persons__title {
    margin-bottom: 31px;

    font-size: 42px;
  }
}

@media (max-width: 520px) {
  .persons__title {
    margin-bottom: 16px;

    font-size: 32px;
  }
}
