.places__title {
  -ms-flex-item-align: end;
      align-self: end;
  margin: 0;

  font-weight: 900;
  line-height: 1.08;
  /* Свыше размера экрана 1024px шрифт будет не более 72px, а с 1023 до 768 плавно уменьшается до 42px, далее по брифу. */
  font-size: calc(43px + 29 * ((100vw - 769px) / 254));
}
@media (min-width: 1024px) {
  .places__title {
    font-size: 72px;
  }
}
@media (max-width: 768px) {
  .places__title {
    max-width: 330px;
    font-size: 42px;
  }
}
@media (max-width: 700px) {
  .places__title {
    margin-bottom: 32px;
    padding: 0 16px;
  }
}
@media (max-width: 320px) {
  .places__title {
    font-size: 32px;
  }
}
