.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
@media (max-width: 370px) {
  .cover__subtitle {
    max-width: 267px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
