.card__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-bottom: 26px;

  line-height: 1.63;
  /* Свыше размера экрана 1024px шрифт будет не более 18px, а с 1023 до 768 плавно уменьшается до 16px. */
  font-size: calc(16.5px + 1.5 * ((100vw - 769px) / 254));
}

.card__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .card__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .card__text {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .card__text {
    padding: 0 16px;
  }
}
