.lead__subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 64px;

  line-height: 1.2;
  text-align: center;
  /* Свыше размера экрана 768px шрифт будет не более 30px, а с 767 до 320 плавно уменьшается до 16px. */
  font-size: calc(16.5px + 13.5 * ((100vw - 321px) / 446));
}
@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .lead__subtitle {
    padding: 0 24px;
  }
}
@media (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
    padding: 0 16px;

    font-size: 16px;
    line-height: 1.25;
  }
}
