.video__subtitle {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 24px;
  line-height: 1.46;
  text-align: center;
}

@media (max-width: 768px) {
  .video__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 520px) {
  .video__subtitle {
    margin-bottom: 24px;

    font-size: 16px;
  }
}
