.main__lead {
  margin-bottom: 92px;

  /* Свыше размера экрана 1281px отступы слева и справа будут не более 148px, с 1280 до 1024 плавно уменьшаются до 48px, далее по брифу. */

  padding-left: calc(48px + 100 * ((100vw - 1024px) / 256));
  padding-right: calc(48px + 100 * ((100vw - 1024px) / 256));
}
@media (min-width: 1281px) {
  .main__lead {
    padding: 0 148px;
  }
}
@media (max-width: 1024px) {
  .main__lead {
    padding: 0 48px;
  }
}
@media (max-width: 768px) {
  .main__lead {
    margin-bottom: 88px;
    padding: 0;
  }
}
@media (max-width: 520px) {
  .main__lead {
    margin-bottom: 64px;
  }
}
