.cover__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.07;
  text-align: center;
  max-width: calc(230px + 320 * ((100vw - 320px) / 410));
  font-size: calc(32px + 40 * ((100vw - 320px) / 410));
}
@media (min-width: 768px) {
  .cover__title {
    max-width: 550px;
    font-size: 72px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
  }
}
