.cover__title {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  margin-top: 0;
  margin-bottom: 32px;

  font-weight: 900;
  line-height: 1.07;
  text-align: center;
  color: white;

  max-width: calc(230px + 320 * ((100vw - 320px) / 447));

  /* Свыше размера экрана 768px шрифт будет не более 72px, а с 767 до 320 плавно уменьшается до 32px. */
  font-size: calc(32.5px + 39.5 * ((100vw - 320px) / 447));
}
@media (min-width: 768px) {
  .cover__title {
    max-width: 550px;

    font-size: 72px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;

    font-size: 32px;
  }
}
