.video-content__subtitle {
  position: absolute;
  top: 86.68%;
  left: 5.14%;
  z-index: 2;

  margin: 0;

  font-size: 14px;
  line-height: 1.07;
}

@media (max-width: 1024px) {
  .video-content__subtitle {
    top: 83.33%;
    left: 6.58%;
  }
}
