.main__video {
  margin-bottom: 102px;
  padding: 0 48px;
}

@media (max-width: 768px) {
  .main__video {
    padding: 0 24px;
  }
}

@media (max-width: 520px) {
  .main__video {
    margin-bottom: 64px;
    padding: 0 16px;
  }
}
