.intro__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 1.08;
  font-size: calc(32px + 22 * ((100vw - 320px) / 448));
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
